## **Pandas Tutorial**

Pandas is a python library use for data manipulation and data analyzing.

### Python Features



1.   Powerful data structures(Series, dataframes)
2.   Fast & efficient data wrangling
3.   Easy data aggregation  & transformation
4.   Tools for reading & writing data
5.   Intelligent & automated data alignment
6.   High performance merging & joining of data sets


### Data Structures




1.   Series(one-dimensional labeled array)
2.   Data Frames(two -dimensional labeled array)
3.   Panel (three-dimesnioanl labeled array)
4.   Panel 4D(Experimental)



### File Read & Write support



1.   read_csv , to_csv
2.   read_json, to_json
3.   read_excel , to_excel
4.   read_sql , to_sql
5.   read_sas , to_sas
6.   read_html , to_html
7.   read_clipboard , to_clipboard
8.   read_pickle , to_pickle
9.   read_stata , to_stata
10.  read_hdf , to_hdf


## **Series**
one- dimensional array like object containing data and labels(index)


![Screenshot 2022-12-12 191821.jpg]()

Data inputs & data types of series can be follows as below.



1.   ndarray
2.   dict
3.   scalar
4.   list
 

1. integer
2. string
3. python object
4. float

### Create  a series from a list

In [2]:
import pandas as pd
import numpy as np

f_series = pd.Series(list('abcdef'))
print(f_series)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

### Create series from ndarray

In [3]:
np_country = np.array(['USA','Japan','Iceland','Sweden','Singapore'])
s_country = pd.Series(np_country)
print(s_country)

0          USA
1        Japan
2      Iceland
3       Sweden
4    Singapore
dtype: object


### Create series from a dictionary

In [4]:
cgdp_dict = pd.Series([90.89,77,54,82,22],index =["USA","UK","UAE","Japan","SL"])
print(cgdp_dict)

USA      90.89
UK       77.00
UAE      54.00
Japan    82.00
SL       22.00
dtype: float64

### Create series from Scalar

In [5]:
scalar_ser = pd.Series(5.,index=["a","b","c"])
print(scalar_ser)

a    5.0
b    5.0
c    5.0
dtype: float64

### Accessing elements in Series

In [6]:
print(s_country[0])

print(s_country[0:4])


print(cgdp_dict.loc["UAE"])#using index


print(cgdp_dict.iloc[3])

USA
0        USA
1      Japan
2    Iceland
3     Sweden
dtype: object
54.0
82.0

### Vectorized operations in series

In [7]:
fvec_ser = pd.Series([1,2,3,4], index = ['a','b','c', 'd'])
secvec_ser = pd.Series([10,20,30,40], index = ['a','b','c', 'd'])
fvec_ser + secvec_ser

a    11
b    22
c    33
d    44
dtype: int64

## **DataFrames**

DataFrame is a two dimensional labeled data structure with columns with potentially different data types.

Data inputs & data types , dataframes can be follows as below.



1.   ndarray
2.   dict
3.   series
4.   list
5.   dataframe
 

1. integer
2. string
3. python object
4. float

### Create dataframe from lists

In [8]:
data_set = {'hostcity' :['London','Beijing', 'Athena','Sydney','Atlanta'],
            'year': [2012,2008,2004,2000,2005],
            'particpants':[205,204,201,200,197]}

df_dataset = pd.DataFrame(data_set)

df_dataset

  hostcity  year  particpants
0   London  2012          205
1  Beijing  2008          204
2   Athena  2004          201
3   Sydney  2000          200
4  Atlanta  2005          197

### Create dataframe from dicts

In [ ]:
dict_data = {'London' : {2012:205},'Beijing': {2008,204}}
df_dict_data = pd.DataFrame(dict_data)
df_dict_data

***view dataframe***

In [12]:
#select by column name
df_dataset.year

0    2012
1    2008
2    2004
3    2000
4    2005
Name: year, dtype: int64

In [13]:
#using describe function to display the content
df_dataset.describe

<bound method NDFrame.describe of   hostcity  year  particpants
0   London  2012          205
1  Beijing  2008          204
2   Athena  2004          201
3   Sydney  2000          200
4  Atlanta  2005          197>

### Create dataframe from dict of Series

In [19]:
series_one = pd.Series([205,204,201,200,197],index=[2012,2008,2004,2000,1996])
series_two = pd.Series(['London','Beijing','Athens','Sydney','Atlanta'],index=[2012,2008,2004,2000,1996])

df_data_series = pd.DataFrame({'No of participating countries' : series_two,
                               'Host cities': series_one})

df_data_series

     No of participating countries  Host cities
2012                        London          205
2008                       Beijing          204
2004                        Athens          201
2000                        Sydney          200
1996                       Atlanta          197

### Create DataFrame from ndarray

In [20]:
import numpy as np
np_array = np.array([2000,2001,2002,2003])
df_ndarray = pd.DataFrame(np_array)
df_ndarray

      0
0  2000
1  2001
2  2002
3  2003

In [21]:
import numpy as np
np_array = np.array([2000,2001,2002,2003])
dict_ndarray = {'year':np_array}
df_ndarray = pd.DataFrame(dict_ndarray)
df_ndarray

   year
0  2000
1  2001
2  2002
3  2003

### Create dataframe from dataframe

In [23]:
df_from_df = pd.DataFrame(df_data_series)
df_from_df

     No of participating countries  Host cities
2012                        London          205
2008                       Beijing          204
2004                        Athens          201
2000                        Sydney          200
1996                       Atlanta          197